/** @format */
.home {
	.newbies {
		.toolbar-rascal {
			.heading-h1 {
				font-weight: 700;
				max-width: 648px;
				width: 41em;
				max-width: 639px;
				width: 30em;
				font-size: 42px;
			}
		}
	}
}
