.article.switch-js(switchy="article")#article-block
    p.section-h2 Информация о том как продвинуть свои товары
    .slider
        .swiper.slider__article
            .swiper-wrapper
                .swiper-slide
                    a(href="https://www.pulscen.ru/about/blog/ts?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog").slider__slide
                        .slider__text
                            p.fat600 Как понравиться поисковикам и покупателям 
                            p SEO, которое вам необходимо
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/283242/content_snimok_ekrana_2021-09-20_v_17_13_1.png", alt="")
                .swiper-slide 
                    a(href="https://www.pulscen.ru/about/blog/ts?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog").slider__slide
                        .slider__text
                            p.fat600 Кейс по увеличению трафика для сложного бизнеса
                            p Где взять клиентов, если бизнес сложный и низкий спрос.
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/283239/content_frame_898.png", alt="")
                .swiper-slide 
                    a(href="https://www.pulscen.ru/about/blog/geography_youtube?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog").slider__slide
                        .slider__text
                            p.fat600 Как расширить географию продаж без рисков + видео
                            p Как избежать рисков и финансовых потерь, выходя на новые рынки.
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/283240/content_frame_f413.png", alt="")
                .swiper-slide 
                    a(href="https://www.pulscen.ru/about/blog/Kak_poluchat_zakazy_s_regionov?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog").slider__slide
                        .slider__text
                            p.fat600 Как продавать товары в регионы
                            p Как получать дополнительные заказы и новых клиентов из других регионов.
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/283241/content_frame_413.png", alt="")
                .swiper-slide 
                    a(href="https://www.pulscen.ru/about/blog/turbomix?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog").slider__slide
                        .slider__text
                            p.fat600 Как продвигать товары в Яндексе правильно
                            p Контекст или SEO: что выбрать и надо ли выбирать?
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/283243/content_snimok_ekrana_2021-09-20_v_17_09_1.png", alt="")
        .article-button-prev
            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/216808/content_arrow_6.png", alt="")
        .article-button-next
            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/216809/content_arrow_z6.png", alt="")