.article.switch-js(switchy="article")#article-block
    p.section-h2 Информация о том как продвинуть свои товары
    .slider
        .swiper.slider__article
            .swiper-wrapper
                .swiper-slide
                    a(href="https://www.pulscen.ru/about/blog/choose_tp?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog&utm_source=CK&utm_medium=Zakaz_otziv&utm_campaign=CHto_takoe_PC").slider__slide
                        .slider__text
                            p.fat600 Что такое Пульс цен и как им пользоваться
                            p Показываем руководство по успешным В2В-продажам.
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/286852/content_snimok_ekrana_2021-09-20_v_17_10_1.png", alt="")
                .swiper-slide 
                    a(href="https://www.pulscen.ru/about/blog/infografic?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog&utm_source=CK&utm_medium=Zakaz_otziv&utm_campaign=Infografika").slider__slide
                        .slider__text
                            p.fat600 Инфографика: Пульс цен в цифрах и датах
                            p Как менялся сервис с 1992 года по сегодняшний день.
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/286858/content_frame_917.png", alt="")
                .swiper-slide 
                    a(href="https://www.pulscen.ru/about/blog/rukovodstvo_pc?utm_source=text_zone&utm_medium=blog_main&utm_campaign=rukovodstvo_pc&utm_term=article&utm_content=27-08-2021&utm_source=CK&utm_medium=Zakaz_otziv&utm_campaign=Luchshaya_ploschadka").slider__slide
                        .slider__text
                            p.fat600 Как выбрать лучшую торговую площадку?
                            p Определяем, где ниже риски и больше вашей целевой аудитории. 
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/286857/content_frame_918.png", alt="")
                .swiper-slide 
                    a(href="https://www.pulscen.ru/about/blog/dont_have_orders?utm_source=pulscen_article&utm_medium=article&utm_content=toolbar&utm_campaign=pulscen_blog_link_info_blog&utm_source=CK&utm_medium=Zakaz_otziv&utm_campaign=Pochemu_net_zakazov").slider__slide
                        .slider__text
                            p.fat600 Почему у вас нет заказов? 
                            p Рассказываем, кто получает всех клиентов на Пульсе цен.
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/286856/content_frame_919.png", alt="")
        .article-button-prev
            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/216808/content_arrow_6.png", alt="")
        .article-button-next
            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/216809/content_arrow_z6.png", alt="")