include ../../miksins.pug

html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "Настройки компании"
	body.js-body
		.main-content
			.width314px
			.content-advertising-pp
				section.advertising
					.content
						p.section-h26 Рекламный кабинет
						p.subtitle Реклама на пульсе цен- это увеличение трафика и усиление продаж
						.block
							.info
								.info__flex
									.info__item
										p.section-h2.fat600.info__heading На кого направлена реклама
										.info__flex.info__flex-text
											.info__textSmal
												p
													span.section-h22.section-accentOrang > 6 000 000
												p Аудитория Пульса цен
											.info__textSmal
												p
													span.section-h22.section-accentOrang > 65 000 000
												p Аудитория Яндекс и Google
									.info__item
										p.section-h2.fat600.info__heading Кто делает?
										p
											| Специалисты Пульса цен: маркетологи, аккаунт-менеджеры, дизайнеры, копирайтеры, директологи и аналитики. Состав команды зависит от задачи.
							.tasks
								p.section-h2.tasks__heading Какие задачи решает?
								.tasks__itemWrapper
									.tasks__item
										img.tasks__img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239911/content_growth.png' alt='')
										p.tasks__text Увеличение трафика и входящих обращений
									.tasks__item
										img.tasks__img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239910/content_pie-chart_1.png' alt='')
										p.tasks__text Усиление продаж выбранной группы товаров
									.tasks__item
										img.tasks__img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239908/content_group_211.png' alt='')
										p.tasks__text увеличение охвата потенциальных клиентов
									.tasks__item
										img.tasks__img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239907/content_group_637.png' alt='')
										p.tasks__text Выделение предложения среди конкурентов
				section.efficiency
					.content
						.section-h26
							| Выберите тип рекламы 
							br
							| под свою задачу
						// efficiency
						.efficiency__itemWrapper
							.efficiency__item
								div
									.efficiency__offer
										.text
											.section-h26 Турбопоиск
											.subtite
												| Комплекс услуг для грамотного и эффективного продвижения групп товаров в рекламной выдаче на поиске Яндекс и Google
										.efficiency__img
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/240052/content_laptop_2_1.png' alt='')
									p.section-h2.fat600.efficiency__HeadingBlock Как работает комплекс?
									p.efficiency__workText
										| Покупатель вводит запрос на покупку товара в Яндекс или Google и видит ваше объявление на первой странице рекламной выдачи.
									p.section-h2.fat600.efficiency__HeadingBlock Какие задачи бизнеса решает?
									ul
										li Привлечь максимум клиентов в любой сезон
										li Получать больше клиентов с поиска Яндекс и Google
										li Перехватить заявки, которые могут уйти к конкурентам
								a.heading_Button.efficiency__btn(target='_blank' href='https://www.pulscen.ru/online-shop/turbosearch') Перейти на страницу комплекса
							.efficiency__item
								div
									.efficiency__offer
										.text
											.section-h26 Турбосети
											.subtite
												| Комплекс по размещению вашей рекламы на сайтах партнерах Яндекс (РСЯ) и контекстно-медийной сети Google (КМС).
											p.note
												span.section-h26.section-accentOrang > 10 000
												|  сайтов РСЯ и КМС
										.efficiency__img
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239922/content_network_1_1.png' alt='')
									p.section-h2.fat600.efficiency__HeadingBlock Как работает комплекс?
									p.efficiency__workText
										| Возвращает “теплых покупателей”, побывавших в целевой рубрике Пульса цен. Привлекает покупателей, вводивших в поиске запросы по вашей тематике, и посещавших тематические сайты по вашему рынку.
									p.section-h2.fat600.efficiency__HeadingBlock Какие задачи бизнеса решает?
									ul
										li Расширить аудиторию ваших покупателей
										li Удержать существующих “теплых покупателей”.
								a.heading_Button.efficiency__btn(target='_blank' href='https://www.pulscen.ru/online-shop/turbonet') Перейти на страницу комплекса
						// showcase
						.showcase
							.showcase__item
								img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239951/content_group_64va4.png' alt='')
								p.section-h26 Ремаркетинг
								p.showcase__text Показ торгового предложения в рекламной сети Яндекса тем, кто посещал Пульс цен.
								ul.showcase__ul
									li#button3.fat600.section-link.button(rel='popup3')  Быстрый просмотр
								a.heading_Button.showcase__btn(target='_blank' href='https://www.pulscen.ru/online-shop/remarketing')  Подробнее об услуге
							.showcase__item
								img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239952/content_frame_177.png' alt='')
								p.section-h26 Витрина
								p.showcase__text
									| Текстово-графическое объявление в рубриках Пульса цен. Усиливает продажи групп товаров.
								ul.showcase__ul
									li#button4.fat600.section-link.button(rel='popup4')  Быстрый просмотр
								a.heading_Button.showcase__btn(target='_blank' href='https://www.pulscen.ru/online-shop/showcase')  Подробнее об услуге
							.showcase__item
								img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239957/content_frame_178.png' alt='')
								p.section-h26 Премиум-блок
								p.showcase__text
									| Первые места в рубриках Пульса цен. Для быстрого увеличения продаж конкретного товара.
								ul.showcase__ul
									li#button1.button.fat600.section-link(rel='popup1')  Быстрый просмотр
								a.heading_Button.showcase__btn(target='_blank' href='https://www.pulscen.ru/online-shop/premium-one')  Подробнее об услуге
						// banner
						.banner
							.banner__item
								.offer
									.offer__text
										p.section-h26 Баннеры на Пульсе цен
										p.subtitle Реклама ваших предложений на выделенных местах портала Пульс цен.
									img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239971/content_vector.png' alt='')
								.resultWrapper
									.result.fat600
										span.section-h26.section-accentOrang > 6 000 000
										|  посетителей Пульса цен
								.banner__btns
									a.heading_Button.banner__btn(target='_blank' href='https://www.pulscen.ru/online-shop/banners') Подробнее об услуге
									ul.banner__ul
										li#button2.fat600.section-link.button(rel='popup2')  Быстрый просмотр
							.banner__item
								.offer
									.offer__text
										p.section-h26 Баннеры в сетях
										p.subtitle
											| Максимальный охват потенциальных покупателей в рекламной сети Яндекс и контекстно-медийной сети Google по вашему рынку
									img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/239970/content_group_646.png' alt='')
								.resultWrapper
									.result.fat600
										span.section-h26.section-accentOrang > 10 000
										|  сайтов
									.result.fat600
										span.section-h26.section-accentOrang > 65 000 000
										|  посетителей в месяц
								.banner__btns
									a.heading_Button.banner__btn(href='https://www.pulscen.ru/online-shop/banner_seti') Подробнее об услуге
									ul.banner__ul
										li#button5.fat600.section-link.button(rel='popup5')  Быстрый просмотр
						// complex
						.complex
							.info
								.info__heading
									| Комплексное продвижение 
									br
									| 									от Пульса цен
								.info__text
									p.section-h2 Мы разбираемся в особенностях бизнес-процессов компаний в B2B-секторе.
									p.section-h2
										| Расскажите подробнее про задачи вашего бизнеса, мы подберем вам индивидуальную программу продвижения
								.heading_Button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(data-button-type='order_callback' data-company='99560299' data-company-id='99560299‌' data-company-name='Пульс Цен - Техническая поддержка' data-company-name-rest='' data-company-url='https://support.pulscen.ru/' data-params='{"company_id":"99560299‌"}' data-statistics='1' data-type='callback')
									| {crm_analytics:click_link(Подобрать программу продвижения,#order,want_orders,Подобрать программу продвижения)}
							.consultation
								p.section-h2 Задайте вопрос специалисту
								#onlineSupportContainer.consultant
				section.case
					.content
						.section-h26 Кейсы клиентов Пульса цен
						.wrapper
							.case-wrapper
								.section-h26 Как увеличить трафик и усилить продажи по группе товаров
								.item
									.item__text
										p.text Кейс компании Техинформ
										#buttonTehinform.heading_Button.button(rel='buttonTehinform')
											| {crm_analytics:click_link(Посмотреть кейс,#buttonTehinform,want_orders,Посмотреть кейс)}
									.case__img
										img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/243667/content_1_1.png' alt='')
				section.modal-wrapper
					// баннеры в сети
					.modal-wrapper-block(data-popup='popup5')
						.modal-blockStabilit
							.modal-block
								img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241342/content_vector_5.png' alt='')
								p.modal-heading.section-h2  Баннеры в сетях
								.swiper-container-remarceting.swiper-advertising
									.swiper-wrapper
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/247923/content_9532bb79-4f97-446a-bb05-0720a14785d1_1.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/247922/content_9532bb79-4f97-446sa-bb05-0720a14785d1_1.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/247921/content_9532bb79-4f97-446a-bbd05-d1.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/247919/content_9532bb79-4f97dd-446a-bb05-d1.png' alt='')
									.navigation-slid
										.navigation-slid__left
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216808/content_arrow_6.png' alt='')
										.navigation-slid__ridth
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216809/content_arrow_z6.png' alt='')
								.section-btns.modal-btns
									a.heading_Button_white(href='https://www.pulscen.ru/online-shop/banner_seti') Перейти на страницу услуги
									.heading_Button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(data-button-type='order_callback' data-company='99560299' data-company-id='99560299' data-company-name='Пульс Цен - Техническая поддержка' data-company-name-rest='' data-company-url='https://support.pulscen.ru/' data-params='{"company_id":"99560299"}' data-statistics='1' data-type='callback') Заказать звонок
					// витрина
					.modal-wrapper-block(data-popup='popup4')
						.modal-blockStabilit
							.modal-block
								img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241342/content_vector_5.png' alt='')
								p.modal-heading.section-h2  Как выглядит витрина на Пульсе цен
								.swiper-container-vitrina.swiper-advertising
									.swiper-wrapper
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241734/content_group_6531.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241735/content_group_6532.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241736/content_group_65334.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241737/content_group_6535.png' alt='')
									.navigation-slid
										.navigation-slid__left
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216808/content_arrow_6.png' alt='')
										.navigation-slid__ridth
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216809/content_arrow_z6.png' alt='')
								.section-btns.modal-btns
									a.heading_Button_white(href='https://www.pulscen.ru/online-shop/showcase') Перейти на страницу услуги
									.heading_Button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(data-button-type='order_callback' data-company='99560299' data-company-id='99560299' data-company-name='Пульс Цен - Техническая поддержка' data-company-name-rest='' data-company-url='https://support.pulscen.ru/' data-params='{"company_id":"99560299"}' data-statistics='1' data-type='callback') Заказать звонок
					// ремаркетинг
					.modal-wrapper-block(data-popup='popup3')
						.modal-blockStabilit
							.modal-block
								img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241342/content_vector_5.png' alt='')
								p.modal-heading.section-h2  Пример показа баннеров по услуге "Ремаркетинг
								.swiper-container-remarceting.swiper-advertising
									.swiper-wrapper
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241741/content_group_653.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241742/content_group_6531.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241743/content_group_6532.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241744/content_group_6533.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241745/content_group_6534.png' alt='')
									.navigation-slid
										.navigation-slid__left
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216808/content_arrow_6.png' alt='')
										.navigation-slid__ridth
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216809/content_arrow_z6.png' alt='')
								.section-btns.modal-btns
									a.heading_Button_white(href='https://www.pulscen.ru/online-shop/remarketing') Перейти на страницу услуги
									.heading_Button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(data-button-type='order_callback' data-company='99560299' data-company-id='99560299' data-company-name='Пульс Цен - Техническая поддержка' data-company-name-rest='' data-company-url='https://support.pulscen.ru/' data-params='{"company_id":"99560299"}' data-statistics='1' data-type='callback') Заказать звонок
					// Премиум-блок
					.modal-wrapper-block(data-popup='popup1')
						.modal-blockStabilit
							.modal-block
								img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241342/content_vector_5.png' alt='')
								p.modal-heading.section-h2  Как выглядит премиум-блок на Пульсе цен
								.swiper.swiper-advertising
									.swiper-wrapper
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241343/content_group_653.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241344/content_group_65a3.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241345/content_group_653a.png' alt='')
									.navigation-slid
										.navigation-slid__left
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216808/content_arrow_6.png' alt='')
										.navigation-slid__ridth
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216809/content_arrow_z6.png' alt='')
								.section-btns.modal-btns
									a.heading_Button_white(href='https://www.pulscen.ru/online-shop/premium-one') Перейти на страницу услуги
									.heading_Button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(data-button-type='order_callback' data-company='99560299' data-company-id='99560299' data-company-name='Пульс Цен - Техническая поддержка' data-company-name-rest='' data-company-url='https://support.pulscen.ru/' data-params='{"company_id":"99560299"}' data-statistics='1' data-type='callback') Заказать звонок
					// Баннеры на Пульсе цен
					.modal-wrapper-block(data-popup='popup2')
						.modal-blockStabilit
							.modal-block
								img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241342/content_vector_5.png' alt='')
								p.modal-heading.section-h2  Баннеры на Пульсе-цен
								.swiper.swiper-advertising.swiper-container-banerNaPC
									.swiper-wrapper
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241426/content_vector_51.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241427/content_group_653.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241428/content_group_6533.png' alt='')
										.swiper-slide.modal-slid
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241429/content_group_6534.png' alt='')
									.navigation-slid
										.navigation-slid__left
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216808/content_arrow_6.png' alt='')
										.navigation-slid__ridth
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/216809/content_arrow_z6.png' alt='')
								.section-btns.modal-btns
									a.heading_Button_white(href='https://www.pulscen.ru/online-shop/banners') Перейти на страницу услуги
									.heading_Button.feedback-js.weight_600.ab-order.js-apress-order-button.js-orders-callback-link(data-button-type='order_callback' data-company='99560299' data-company-id='99560299' data-company-name='Пульс Цен - Техническая поддержка' data-company-name-rest='' data-company-url='https://support.pulscen.ru/' data-params='{"company_id":"99560299"}' data-statistics='1' data-type='callback') Заказать звонок
					// Кейс - как увеличить трифик
					div.modal-wrapper-block( data-popup='buttonTehinform')
						.modal-block.trafic
							img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/241342/content_vector_5.png' alt='')
							p.modal-heading.section-h26  Как увеличить трафик и усилить продажи по группе товаров?
							p.section-grayText Кейс компании Техинформ, г. Санкт-Петербург
							.trable
								.item
									p Проблема клиента
									p.section-grayText
										| Нужно было увеличить трафик и усилить продажи по определенным группам товаров в нескольких регионах.
								.item
									p.section-orangText Решение
									p.section-grayText
										| Подключена услуга “
										a(href='http://https://www.pulscen.ru/online-shop/turbosearch' target='_blank') Турбопоиск
										| ”
							.line
							.result
								p.result__heading РЕЗУЛЬТАТЫ
								.attendance
									p.attandance__heading.section-h2  Посещаемость: 
									p.attandance__subttitle.section-grayText
										| Подключение услуги позволило повысить посещаемость сайта в течение года с 180 до 1578 визитов в месяц.
									img.imgGraphik(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/243717/content_image_37.png' alt='')
								.attendance
									p.attandance__heading.section-h2  Посетители с поиска и рекламы: 
									p.attandance__subttitle.section-grayText
										| В течение весны и лета на сайт из Яндекса перешло 4122 посетителя. Из них 62% (2318 посетителей) пришли именно 
										b.fat600 по грамотно настроенной рекламе.
									img.imgGraphik(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/243718/content_image_38.png' alt='')
							.efficiency
								p.section-h2 Эффективность рекламной кампании:
								.wrapper
									.item-wrapper
										.item
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/234974/content_group_625.png' alt='')
											p
												| Реклама позволила привлечь на сайт необходимую аудиторию: потенциальных покупателей, заинтересованных в представленных товарах.
										.item
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/234974/content_group_625.png' alt='')
											p
												| Результат нагляден в увеличении количества целевых действий. За год суммарно было 152 просмотра контактов.
										.item
											img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/234974/content_group_625.png' alt='')
											p
												| В течение года в личный кабинет клиента поступил 31 заказ на конкретные товарные позиции
									img(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/243719/content_image_39.png' alt='')
