/** @format */

$corporate_color: #028dd8;
$text: #013a59;
$text-grey: #5e7491;
$background-lightBlue: #f2fbff;
$background-Blue: rgba(2, 141, 216, 0.25);
$colorOrange: #f18334;

:root {
	--block40: 40px;
	--block30: 30px;
	--text8: 8px;
}
