
body {
	min-width: 0 !important;
	background-color: white;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: inherit;
	scroll-behavior: smooth;
}
img {
	width: fit-content;
	height: fit-content;
}

p {
	padding: 0;
	margin: 0;
}

 a:link {
  color: inherit;
}

a:visited {
	color: inherit;
}

a {
	 color: inherit !important;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.company-admin .company-admin-content-wrap {
min-width: 0;
}
.company-admin {
    min-width: 0px;
}

 .wrapper-text p {
	 margin-bottom: 0px;
 }

 .wrapper-text {
	 font-size: 16px;
	 color: #5E7491;
	 line-height: normal;
	 overflow: hidden;
 }

 .base-width {
	 background-color: transparent;
	 margin: 0;
	 max-width: none;
	 min-width: 0;
 }

 .catalogue {
	 padding: 0;
 }

 .cms-page .col-middle {
	 background: none;
	 border: none;
	 box-shadow: none;
	 padding: 0 !important;
 }

 .catalogue h1 {
	 display: none;
 }

 #content {
	 margin-top: 0;
 }

 .wrapper-text ul li {
	 list-style-type: none !important;
 }

 .wrapper-text table td {
	 padding: 20px;
 }

 .simple-breadcrumbs {
	 display: none !important;
 }
 /* --- */

 * {
	 padding: 0;
	 margin: 0
 }

 .company-admin-page-content,
.company-admin-textzone {
  margin: 0 0px 0px;
}

.company-admin .company-admin-content {
  background: inherit;
  padding: 0px 0;
}

.online-chat-root-MeTalk .operator-message-background {
    background: #7087a3 !important
}
